PRIVATE_KEY=
URL_RPC=https://ethereum-sepolia-rpc.publicnode.com
PUBLIC_BASE_URL=https://elead-backend-o4h4ohxpva-uc.a.run.app
CLAIM_PAGE_URL=https://cellact.github.io/Elead-HTML/install.html
ELEAD_HTML_URL=https://cellact.github.io/Elead-HTML/
CHAIN_ID=11155111
ELEAD_HTML_URL=https://cellact.github.io/Elead-HTML/
ELEAD_PRODUCT_TYPE=Elead
